<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
</head>
<body>
  <nav>
  <ul>
    <li> <a href="/pizza-orders">Pizza Orders</a> </li>
    <li> <a href="/pizza-orders/new">Make an Order</a> </li>
    <li> <a href="/pizza-orders/home">HOME</a> </li>
  </ul>
  </nav>
  <%= yield %>
</body>
</html>
