<p>Your order has been updated, new order details below:</p>
<p>First Name: <%= @order.first_name()%></p>
<p>Last Name: <%= @order.last_name() %></p>
<p>Topping: <%= @order.topping() %></p>
<p>quantity <%= @order.quantity() %></p>


<a href="/pizza-orders/home">HOME</a>
